pytest                            
attrs      
constructs
aws-cdk-lib
cattrs                            
importlib-metadata                
isort                             
lazy-object-proxy                 
mccabe                            
more-itertools                    
packaging                         
pip                               
pluggy                            
publication                       
py                                
pyparsing                         
pytest                            
python-dateutil                   
setuptools                        
six                               
typed-ast                         
typing-extensions                 
wcwidth                           
wrapt                             
zipp                              