pytest                            
attrs                             
aws-cdk.aws-apigateway            
aws-cdk.aws-ec2                   
aws-cdk.aws-iam
aws-cdk.aws-kendra                   
aws-cdk.aws-neptune                   
aws-cdk.aws-lambda
aws-cdk.aws-lambda-event-sources
aws-cdk.aws-s3                    
aws-cdk.aws-sqs                   
aws-cdk.core                      
aws-cdk.cx-api                    
aws-cdk.region-info
aws-cdk.aws-sagemaker
cattrs                            
importlib-metadata                
isort                             
lazy-object-proxy                 
mccabe                            
more-itertools                    
packaging                         
pip                               
pluggy                            
publication                       
py                                
pyparsing                         
pytest                            
python-dateutil                   
setuptools                        
six                               
typed-ast                         
typing-extensions                 
wcwidth                           
wrapt                             
zipp                              